* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
}



/* animations */
@keyframes slideUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



/* basic page styles */
article {
    max-width: 90vw;
    margin: 0 auto;
}

header, footer {
    height: 7vw;
    background: lightseagreen;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

section {
    margin-bottom: 4vw;
    background: lightyellow;
    padding: 35px 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 2vw;
}

h1 .link {
    color: #363f47;
    font-size: 4vw;
}

.link {
    font-size: 1.2vw;
    color: #fefefe;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.link:hover {
    opacity: 0.7;
}

.li {
    list-style: none; 
    display: inline-block;
    margin: 0 5px;
}
.black {
    color: black;
}
/* basic page styles ------------ END */



/* secion1 - slider */
.slider-item {
    background: brown;
    text-align: center;
    color: #fff;
    font-size: 2.2vw;
}



/* secion2 - tabs */
.tabs-block {
    display: none;
}

.tabs-block.active {
    display: block;
    animation: slideUp 0.5s ease-out;
}



/* secion4 - accrodeon */
.accordeon-title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accrodeon-item-content {
    display: none;
}

.accrodeon-item-content.active {
    display: block;
    animation: slideDown 0.5s ease-out;
}



/* secion5 - Styled form elements */
/* checkbox */
.check-container {
    display: block;
    font-size: 0;
    cursor: pointer;
}

.check-text {
    display: inline-block;
    vertical-align: middle;
    color: #2b2b2b;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    max-width: calc(100% - 37px);
}

.check-container input[type="checkbox"] {
    display: none;
}

.checkmark {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid;
    height: 25px;
    width: 25px;
/*
    background: url("../images/check.svg") no-repeat center center;
    background-size: cover;
*/
    transition: 0.5s ease-out;
}

.check-container input:checked ~ .checkmark {
    background: #000;
    /*
        background: url("../images/check.svg") no-repeat center center;
        background-size: cover;
    */
}



/* input type="file" */
.file-wrap input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}














